html, body{
    height: 100%;
    width: 100%;
}

body{
	font-family:Verdana;
	color:rgb(51, 48, 40);
	width: 100%;
	margin: auto;
    overflow: auto;
}



*{transition:all 0.3s ease-in-out;}

.container{
    clear:both;
    overflow:auto;
}

nav{
    text-transform: capitalize;
    position: relative;
    float:right;
}

.logo img{
    float:left;
}
a{
    text-decoration: none;
    color:rgb(68, 60, 42);
}

#navbarli{
  display: inline-block; 
  padding:1vw;
  font-size:1.3vw; 
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

ul li a:hover{
  color:white;
}
ul li:hover{
    background-color: rgba(139, 119, 93, 0.746);
    border-radius: 30%;
}



.parallax {
    /* The image used */
    background-image: url("bobaparallax.png");
    /* Set a specific height */
    min-height: 1000px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



ul li{
    display: inline-block;
}



#logo{
    height: 5vw;
    width: 7vw;
    margin-left: 5vw;
}

.strip{   
    width: 100%;
    height: -100vh;
    margin-left: auto; 
    margin-right: auto;
    overflow: hidden;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    background-color: rgba(240, 226, 208, 0.849);
}
.strip img{
    padding-top: 20vh;
    padding-left: 3vw;
    padding-right: 3vw;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 0.9;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#welcomeheading{
    font-size: 3vw;
    position: relative;
    margin-left: auto;
    margin-right: 5vw;
    text-align: center;
    text-shadow: 1vw 1vh rgba(102, 94, 83, 0.3);
    margin-top: 20vh;
    font-weight: bolder;
    width: max-content;
    padding: 4vw;
    font-family: Arial, Helvetica, sans-serif;
}

#welcomeheadingcontainer{
   
}